{% extends "base.html" %} {% block title %}Inscription{% endblock %} <!-- base.html = Notre template + title c'est le titre dans l'onglet-->

{% block content %}

<form method="POST"> <!-- Formulaire d'inscription -->
    <h3 align="center">Page d'inscription </h3> <!-- Titre -->

    <div class="form-group"> <!-- Formulaire -->
        <label for="firstname">Prenom</label> <!-- Mot de passe -->
            <input 
                type="text" 
                class="form-control"
                id="firstname"
                name="firstname"
                placeholder="Entrez votre Prenom"/> <!-- Input -->
    </div>

    <div class="form-group">   <!-- Formulaire -->
        <label for="email">Adresse mail</label> <!-- Email -->
            <input  
                type="email" 
                class="form-control"
                id="email"
                name="email"
                placeholder="Entrez votre Adresse mail"/> <!-- Input --> 
    </div>
    
    <div class="form-group"> <!-- Formulaire -->
        <label for="lastName">Mot de passe</label> <!-- Nom -->
            <input 
                type="password" 
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Entrez votre Mot de Passe"/> <!-- Input -->
    </div>

    <div class="form-group"> <!-- Formulaire -->
        <label for="password2">Confirmer le mot de passe</label> <!-- Nom -->
            <input 
                type="password" 
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Confirmer votre Mot de Passe"/> <!-- Input -->
    </div>

    <br> <!-- Saut de ligne -->

    <button type="submit" class="btn btn-primary">S'inscrire</button> <!-- Bouton -->
    </form>

   
</form>


{% endblock %}
